# @midnight-ntwrk packages are on the Midnight private registry.
# Uncomment the line below if you have access to npm.midnight.network:
# @midnight-ntwrk:registry=https://npm.midnight.network/
#
# @midnight-ntwrk/dapp-connector-api is also available on the public npm registry.
